.chatPostWrapper {
  width: 100%;
  position: relative;
}

.chatPost {
  background-color: white;
  border: 1px solid #f0f0f0;
  border-radius: 5px 5px 5px 5px;
  box-shadow: 2px 2px 3px #eeeeee;
  margin-left: 5px;
  margin-right: 5px;
}

.backIcon {
  display: none;
}

.backPanel {
  display: none;
}

@media only screen and (min-width: 768px) {
  .chatPost {
    width: 60%;
    margin: auto;
  }

  .backIcon {
    height: 30px;
    width: 30px;
    display: inline-block;
    position: fixed;
    top: 80px;
    left: 20px;
  }

  .backPanel {
    z-index: 1;
    display: inline-block;
    background-color: #f3f3f3;
    opacity: 0.5;
    width: 15%;
    position: fixed;
    overflow: auto;
    height: 100vh;
    cursor: pointer;
  }

  .backPanel:hover,
  .backPanel:active {
    background-color: #cccccc;
    opacity: 0.15;
    outline: 25px solid #cccccc !important;
  }
}
